/* shared styles */
body {
    font-family: 'Mulish';
    width: 992px;
    margin: 0px auto;
}

.b-margin {
    margin: 0 60px;
}

.primary-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 0.68888rem;
    font-weight: 700;
    border: none;
    width: 130px;
    height: 45px;
}

.primary-btn:hover {
    background: black;
}


/* header related styles */
/* nav related styles */
nav {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.website-name-container {
    display: flex;
    justify-content: left;
}

#web-img {
    width: 2.06669rem;
    height: 2.41144rem;
    margin-top: 1.3rem;
}

.website-name {
    color: #131318;
    font-size: 1.55rem;
    font-weight: 800;
}

#up {
    color: #FF5400;
}

nav>ul {
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

nav>ul li {
    list-style: none;
}

nav>ul li a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

#home {
    color: #FF5400;
}

nav>ul li a:hover {
    color: #FF5400
}

#home:hover {
    color: #424247;
}


/* banner related styles */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    height: 400px;
    width: 100%;
    padding-top: 160px;
}

.banner-title {
    color: #FFF;
    font-size: 2.75556rem;
    font-weight: 800;
    text-align: center;
    margin: 0px;
}

.banner-description {
    margin-top: 15px;
    color: #FFF;
    text-align: center;
    font-size: 0.68888rem;
    font-weight: 400;
    line-height: 162.5%;
    padding-left: 100px;
    padding-right: 100px;
}

.input-field {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto 120px;
    padding: 13px;
    gap: 16px;
}

#Where {
    border-radius: 8px;
    background: #FFF;
    border: none;
    font-size: 0.68888rem;
    font-weight: 400;
    width: 92%;
    height: 45px;
    padding-left: 10px;

}

.input-info {
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 0.68888rem;
    font-weight: 400;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.find-now {
    width: 100%;
}



/* popular-tour section related styles */
.popular-tour-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.popular-tour {
    width: 50%;
}

.popular-tour-title {
    color: #131318;
    font-size: 1.72225rem;
    font-weight: 800;
    margin: 0px;
}

.popular-tour-description {
    margin-top: 16px;
    margin-bottom: 20px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.68888rem;
    font-weight: 400;
    line-height: 162.5%;
}

.bennifits {
    margin-bottom: 10px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.68888rem;
    font-weight: 400;
    line-height: 162.5%;
    margin-left: -28px;
}

.popular-tour-img {
    width: 50%
}



/* destination section related styles */
.destination-title {
    color: #131318;
    margin: 10px auto;
    text-align: center;
    font-size: 1.72225rem;
    font-weight: 800;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.68888rem;
    font-weight: 400;
    line-height: 162.5%;
    width: 27.68475rem;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 15px auto;
}

.image-container {
    display: flex;
    justify-content: space-between;
    gap: 1.3rem;
}

#Maldives {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle\ 5.png');
}

#Indonesia {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle\ 8.png');
}

#Srilanka {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle\ 6.png');
}

#North-America {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle\ 7.png');
}

#Kashmir {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle\ 9.png');
}

#Bangladesh {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle\ 11.png');
}

#Bandarban {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle\ 10.png');
}

.destination-name {
    border-radius: 0.68888rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 12.91669rem;
    color: #FFF;
    font-size: 1.20556rem;
    font-weight: 800;
    margin: 0.65rem 0;
    display: grid;
    align-items: center;
}



/* tour-guide-related styles */
.tour-guide-container {
    margin-top: 100px;
    background-image: url('./Images/bgimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    height: 400px;
    padding-top: 40px;

}

.tour-guide-info-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.selectGuide-info {
    border-radius: 8px;
    background-color: rgba(244, 227, 227, 0.5);
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    width: 40%;
    padding: 15px;
}

.guide-info {
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 0.68888rem;
    font-weight: 400;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#date {
    height: 30px;
    width: 40%;
}

.expectation-container {
    border-radius: 8px;
    background-color: rgba(244, 227, 227, 0.5);
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 40%;
    padding: 10px;
}

legend {
    font-size: 1rem;
    font-weight: 800;

}

#expectations {
    background: #dedef7;
    padding-left: 10px;
    padding-top: 10px;
    border: none;
    margin: 10px 30px;
}

.guide-btn {
    margin-top: 20px;
    display: grid;
    justify-content: center;
}

.submit-btn {
    border-radius: 8px;
    background: rgb(43, 31, 57);
    background-size: cover;
    color: #FFF;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    width: 200px;
    height: 45px;
}

.submit-btn:hover {
    color: #FF5400;
}




/* facilities related style */
.facilities-container {
    margin-top: 100px;

}

.facilities-title {
    color: #131318;
    text-align: center;
    font-size: 1.72225rem;
    font-weight: 800;
    margin: 0px;
}

.facilities-description-container {
    display: flex;
    justify-content: center;
}

.facilities-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 0.68888rem;
    font-weight: 400;
    line-height: 162.5%;
    width: 27.68475rem;
    margin-bottom: 35px;

}

.facilities-description-box {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    gap: 1.03rem;
}

.box-img {
    width: 2.75556rem;
    height: 2.75556rem;
}

#box-1 {
    border-radius: 0.68888rem;
    border: 0.689px solid rgba(251, 181, 99, 0.20);
    background-color: rgba(251, 181, 99, 0.05);
    width: 24.67081rem;
    height: 12.22775rem;
    padding: 1.38rem;
}

#box-2 {
    width: 24.67081rem;
    height: 12.22775rem;
    border-radius: 0.68888rem;
    border: 0.689px solid rgba(41, 206, 246, 0.20);
    background-color: rgba(41, 206, 246, 0.05);
    padding: 1.38rem;
}

#box-3 {
    margin-top: 1.03rem;
    width: 24.67081rem;
    height: 12.22775rem;
    border-radius: 0.68888rem;
    border: 0.689px solid rgba(233, 68, 68, 0.20);
    background-color: rgba(233, 68, 68, 0.05);
    padding: 1.38rem;
}


/* subscribe section styles */
.subscribe-container {
    margin-top: 160px;
    display: flex;
    gap: 1.03rem;
}

.Subscribe {
    width: 20.40831rem;
    height: 17.6rem;
    border-radius: 0.68888rem;
    border: 0.689px solid #FF5400;
    padding-left: 2rem;
    padding-top: 2.5rem;
}

.subscribe-title {
    color: #131318;
    font-size: 1.03331rem;
    font-weight: 800;
}

.subscribe-description {
    color: #5A5A5D;
    font-size: 0.68888rem;
    font-weight: 400;
    line-height: 162.5%;
    width: 15.06944rem;
}

#subs-hr {
    width: 16.92081rem;
    height: 0.04306rem;
    background: rgba(19, 19, 24, 0.10);
    margin: 1.03rem auto;
}

.subscribe-btn-container {
    margin-top: 1rem;
}

.subs-info {
    width: 16.92081rem;
    height: 2.23888rem;
    border-radius: 0.34444rem;
    background-color: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 0.68888rem;
    font-weight: 400;
    border: none;
    margin-bottom: 0.69rem;
    padding-left: 1rem;
}

.subs-btn {
    margin-top: 1rem;
    width: 18.1rem;
    height: 2.23888rem;
    border-radius: 0.34444rem;
}

.subscribe-img-container {
    background-image: url('./Images/Rectangle\ 8\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 28.93331rem;
    height: 20.16944rem;
    border-radius: 0.68888rem;
}


.discount {
    width: 13.95rem;
    height: 5.16669rem;
    transform: rotate(-19.628deg);
    border-radius: 0.68888rem;
    background: #FF5400;

}

.discount-container {
    position: relative;
    left: 234px;
    top: 207px;

}

.discount-title {
    color: #FFF;
    text-align: center;
    font-size: 1.03331rem;
    font-weight: 400;
    transform: rotate(-1.628deg);
    margin: 0px;
    text-align: center;
    padding-top: 15px;
}

.discount-persentage {
    color: #FFF;
    font-size: 1.37775rem;
    font-weight: 800;
    transform: rotate(-1.628deg);
    margin: 0px;
    text-align: center;
}




/* footer related styles */
.owner-info {
    margin-top: 4.31rem;
    width: 100%;
    height: 21.61388rem;
    background-color: rgba(19, 19, 24, 0.05);
    padding-top: 4.74rem;
    text-align: center;
}

.footer-web-name {
    display: flex;
    justify-content: center;
    margin: 0;
}

.owner-info-description-container {
    margin: 0;
    display: flex;
    justify-content: center;

}

.owner-info-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 0.68888rem;
    font-weight: 400;
    line-height: 162.5%;
    width: 33.10975rem;
}

.social-icon {
    margin-top: 1.41rem;
    margin-bottom: 2.15rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon-img {
    height: 20px;
    width: 20px;
}

#footer-hr {
    width: 37.54444rem;
    height: 0.04306rem;
    background-color: rgba(19, 19, 24, 0.10);
}

.copyright {
    width: 100%;
    height: 6.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    width: 8.21525rem;
    height: 0.83956rem;
    color: #131318;
    font-family: Inter;
    font-size: 0.68888rem;
    font-weight: 300;

}




/* .............................................................................. */
/* responsive media queries */
/* for mobile device */
@media screen and (max-width: 600px) {
    .b-margin {
        margin: 0px 20px;
    }

    nav {
        overflow: hidden;
        position: relative;
    }

    nav>ul {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .banner {
        padding-top: 150px;
        height: 500px;
        background-size: cover;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-description {
        padding-left: 0px;
        padding-right: 0px;
    }

    .input-field {
        display: flex;
        flex-direction: column;
        margin: 20px;

    }

    #Where {
        width: 96%;
    }

    .input-info {
        width: 100%;
    }

    .find-now {
        width: 100%;
    }

    .popular-tour-container {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        gap: 20px;
    }

    .popular-tour {
        width: 100%;
    }

    .popular-tour-img {
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 0px;
        width: 100%
    }

    .image-container {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .tour-guide-container {
        height: 600px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .tour-guide-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }

    .guide-btn {
        width: 100%;
    }


    .facilities-description-box {
        display: flex;
        flex-direction: column;
    }

    #box-1 {
        width: 65%;
    }

    #box-2 {
        width: 65%;
    }

    #box-3 {
        width: 65%;
    }

    .subscribe-container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #subs-hr {
        width: 88%;
        margin-left: 0px;
    }







}



/* tablet or medium devices */
@media screen and (min-width:600px) and (max-width:990px) {
    .b-margin {
        margin: 0px 30px;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    nav>ul {
        display: flex;
        justify-content: space-around;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .input-field {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0px 100px;
    }

    #Where {
        width: 93%;
    }

    .input-info {
        width: 100%;
    }

    .find-now {
        width: 100%;
    }

    .popular-tour-container {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        gap: 20px;
    }

    .popular-tour {
        width: 100%;
    }

    .popular-tour-img {
        margin-top: 100px;
        margin-bottom: 100px;
        padding-top: 0px;
        width: 100%
    }

    .image-container {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .tour-guide-container {
        height: 600px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .tour-guide-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }

    .guide-btn {
        width: 100%;
    }

    .facilities-description-box {
        display: flex;
        flex-direction: column;
    }

    #box-1 {
        width: 65%;
    }

    #box-2 {
        width: 65%;
    }

    #box-3 {
        width: 65%;
    }

    .subscribe-container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #subs-hr {
        width: 88%;
        margin-left: 0px;
    }

}